/* styles.css */
/* Estilo para la grilla en pantalla de PC */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px;
    height: 600px;
}
/* styles.css */

/* Estilo para el título general */
h1 {
    text-align: center;
    font-size: 24px;
    margin: 20px;
}
/* Estilo para los títulos de los gráficos */
h2 {
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
}

/* Estilo para los gráficos en pantalla de celular */
@media (max-width: 1000px) {
    canvas {
        display: inline !important;
    }
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    /* Ajusta el tamaño de los gráficos en la vista de celular */
    .chart-container {
        height: 700px; /* Ajusta la altura según tus preferencias */
        width: 100%;
        text-align:center;
        position: relative;
        padding-bottom: 25%;
    }
}

/* Estilo para los gráficos en pantalla de celular */
@media (max-width: 800px) {
    canvas {
        display: inline !important;
    }
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    /* Ajusta el tamaño de los gráficos en la vista de celular */
    .chart-container {
        height: 650px; /* Ajusta la altura según tus preferencias */
        width: 100%;
        text-align: center;
    }
}

/* Estilo para los gráficos en pantalla de celular */
@media (max-width: 650px) {
    canvas {
        display: inline !important;
    }
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    /* Ajusta el tamaño de los gráficos en la vista de celular */
    .chart-container {
        height: 600px; /* Ajusta la altura según tus preferencias */
        width: 100%;
        text-align:center;
    }
}
/* Estilo para los gráficos en pantalla de celular */
@media (max-width: 600px) {
    canvas {
        display: inline !important;
        height: 200px;
    }
    
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    /* Ajusta el tamaño de los gráficos en la vista de celular */
    .chart-container {
        height: 85px; /* height: 400px; Ajusta la altura según tus preferencias */
        width: 100%;
        text-align:center;
        padding-bottom: 45%;
    }
}

/* styles.css */

/* Estilo para los botones */
.toggle-button {
    display: block;
    margin: 5px auto; /* Centra el botón horizontalmente */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilo para los botones cuando están encendidos (verde) */
.toggle-motor-button.on {
    background-color: green;
    color: white;
}

/* Estilo para los botones cuando están apagados (color a tu criterio) */
.toggle-motor-button.off {
    background-color: rgb(111, 111, 111);
    color: white;
}

/* Estilo para los botones cuando están apagados (color a tu criterio) */
.toggle-trial-button.on {
    background-color: #FF5E5B;
    color: white;
}
/* Estilo para los botones cuando están apagados (color a tu criterio) */
.toggle-trial-button.off {
    background-color: green;
    color: white;
}

.counter-button{
    background-color: rgb(0, 20, 150);
}

.center{
    
    text-align: center;
}

.card {
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
    margin-bottom: 30px;
}

button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.topnav {
    overflow: hidden;
}

.connectButton.connected{
    background-color: #d13a30;
}

.connectButton.disconnected{
    background-color: #24af37;
}

.connectButton.connecting{
    background-color: #FFEA00;
}

.gray-label {
    color: #bebebe;
    font-size: 1rem;
}

.reading {
    font-size: 1.8rem;
}


#timerDisplay:not(.stop) {
    display : inline
}

#timerDisplay.stop {
    display : none
}

.container.nodata {
    display : none
}

#trialName {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    margin: 5 auto; /* Centra el botón horizontalmente */
    border: 1px solid #ccc; /* borde */
    border-radius: 5px; /* esquinas redondeadas */
    font-size: 16px; /* tamaño de fuente */
    color: #333; /* color del texto */
    background-color: #fff; /* color de fondo */
    outline: none; /* elimina el resplandor de foco */
}

.container::placeholder {
    color: #999; /* color del marcador de posición */
}

[id^="last_sensor_values_p"].connected {
    display : inline
}

[id^="last_sensor_values_p"].disconnected {
    display: none
}

[id^="timestamp_p"].connected {
    display : inline
}

[id^="timestamp_p"].disconnected {
    display: none
}

[id^="motorButton"].connected {
    display : inline
}

[id^="motorButton"].disconnected {
    display : none
}