/* styles.css */
/* Estilo para la grilla en pantalla de PC */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px;
    height: 600px;
}
/* styles.css */

/* Estilo para el título general */
h1 {
    text-align: center;
    font-size: 24px;
    margin: 20px;
}
/* Estilo para los títulos de los gráficos */
h2 {
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
}

/* Estilo para los gráficos en pantalla de celular */
@media (max-width: 1000px) {
    canvas {
        display: inline !important;
    }
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    /* Ajusta el tamaño de los gráficos en la vista de celular */
    .chart-container {
        height: 600px; /* Ajusta la altura según tus preferencias */
        width: 100%;
        text-align:center;
        position: relative;
    }
}

/* Estilo para los gráficos en pantalla de celular */
@media (max-width: 800px) {
    canvas {
        display: inline !important;
    }
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    /* Ajusta el tamaño de los gráficos en la vista de celular */
    .chart-container {
        height: 450px; /* Ajusta la altura según tus preferencias */
        width: 100%;
        text-align:center;
    }
}

/* Estilo para los gráficos en pantalla de celular */
@media (max-width: 650px) {
    canvas {
        display: inline !important;
    }
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    /* Ajusta el tamaño de los gráficos en la vista de celular */
    .chart-container {
        height: 400px; /* Ajusta la altura según tus preferencias */
        width: 100%;
        text-align:center;
    }
}
/* Estilo para los gráficos en pantalla de celular */
@media (max-width: 600px) {
    canvas {
        display: inline !important;
        height: 200px;
    }
    
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    /* Ajusta el tamaño de los gráficos en la vista de celular */
    .chart-container {
        height: 300px; /* Ajusta la altura según tus preferencias */
        width: 100%;
        text-align:center;
    }
}

/* styles.css */

/* Estilo para los botones */
.toggle-button {
    display: block;
    margin: 0 auto; /* Centra el botón horizontalmente */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilo para los botones cuando están encendidos (verde) */
.toggle-button.on {
    background-color: green;
    color: white;
}

/* Estilo para los botones cuando están apagados (color a tu criterio) */
.toggle-button.off {
    background-color: #ff5733; /* Cambia a un color de tu elección */
    color: white;
}